
<div class="container text-center">
  <h3>THE FLOWER SHOP</h3>
  <p><em>We  have colourful flowers!</em></p>
  <p>We have created a fictional band website. Lorem ipsum..</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p><strong>ROSES</strong></p><br>
      <img src="assets\11.jpg" alt="Random Name">
    </div>
    <div class="col-sm-4">
      <p><strong>TULIPS</strong></p><br>
      <img src="assets\12.jpg" alt="Random Name">
    </div>
    <div class="col-sm-4">
      <p><strong>LILLYIES</strong></p><br>
      <img src="assets\13.jpg" alt="Random Name">
    </div>
  </div>
</div>